/* .featured{
    gird-template: repeat(6, 1fr) / repeat(10, 1fr)
} */

h1, h2{
    text-align: center;
    grid-column: 1 / -1;
}

h2{
    background-color: var(--background-color);
    padding: 15px;
}

body{background-color: var(--background-color-alt);}

main{
    margin-bottom: 200px;
}

.featured{
    padding: 15px;
    position: relative;
    
    > img{
        width: calc(100% + 30px);
        margin: -15px 0 0 -15px;
    }
}


section{
    background-color: var(--background-color);
    position: relative;
    padding-bottom: 1.25em;
    padding: 15px;

    i{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px;
        
    }
}

article:not(:first-child){
    position: relative;
    padding: 15px;
}

/* Tablet */

@media only screen and (min-width: 768px){
    h2, h1{
        text-align: left;
    }
    
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .featured{
        grid-column: 1 / 5;
    }

    article{
        display: grid;
        grid-column-start: span 2;
        
    }
}

/* DESKTOP */
@media only screen and (min-width: 992px) {

    .featured{
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(10, 1fr);
    }

    .featured > img {
        display: grid;
        grid-column: 1 / -2;
        grid-row: 1 / 6;
        overflow: hidden;
    }

    .featured > section {
        grid-column: 6 / -1;
        grid-row: 2 / 5;
    }
}


