
/* SHAPES */
.square{
    z-index: -1;
    border: 3px solid var(--secondary);
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(20deg);
    top: 50%;
}

.circle{
    border-radius: 100%;
    z-index: -1;
    border: 3px solid var(--primary);
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(20deg);
    left: 80%;
}

.cross:before, .cross:after {
    z-index: -1;
    position: absolute;
    left: 80%;
    bottom: 30%;
    content: ' ';
    height: 50px;
    width: 2px;
    background-color: var(--teritary);
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }

.circle, .square, .cross{
    opacity: 0.6;
}

/*******************************/


#scroll-down{
    margin-top: 50px;
    font-size: 4em;
    color: var(--text);
}

.hero, .container{
    grid-area: content;
    text-align: center;
    padding: 10px;
    min-height: 99vh;
    
}
.tag{
    color: var(--primary);
}

.about-me{
    color: var(--teritary);
}

.alt{
    background-color: var(--background-color-alt);
    padding: 15px;
}

.primary{
    padding: 15px;
}


