header, footer{
    background-color: gray;
    height: 10vh;
}

main{
    min-height: 80vh;
    grid-column-start: 2;
    grid-column-end: 12;
    display: grid;
}

article{
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, 10vh);
    display: grid;
}

.block1{
    background-color: aqua;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 8;
}

.block2{
    background-color:lime;
    height: 100%;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 11;
}