.container{
    background-color: grey;
    height: 50vh;
    width: 50vw;
    margin-left: 25%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.center{
    position: relative;
    background-color: red;

    animation-name: examples;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

   
}

.center:before{
   transform: rotate(90deg);
}

.center ul{
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    justify-content: center;
    align-items: center;
}

.center li{
    background-color: yellowgreen;
    width: 50px;
    height: 50px;
}



@keyframes example {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }