main{
    display: grid;
    background-color: brown;
    grid-template-columns: repeat(4, 25vw);

}

h1{
    grid-column-start: 1;
    grid-column-end: 3;
}

p{
    grid-column-start: 1;
    grid-column-end: 2;
}
